<ion-header>
  <ion-navbar>
    <ion-title>
      Eddystone Estimote Beacons
    </ion-title>
    <ion-buttons start>
        <button ion-button (click)="startScanningForBeacons()">Scan</button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button (click)="stopScanningForBeacons()">Stop Scan</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="beaconData != []; else beaconFound">
   <ion-card>
     <ion-card-header>
     </ion-card-header>
     <ion-card-content>
       <p>Click the start scan button to scan for beacons!</p>
     </ion-card-content>
  </ion-card>   
 </div>

   <ion-list *ngIf="beaconData">
    <ion-card *ngFor="let bec of beaconData">
      <ion-card-header>
        Beacon Found
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>Address: {{bec.address}}</ion-item>
          <ion-item>Temperature: {{bec.temperature}}</ion-item>
          <ion-item>RSSI: {{bec.rssi}}</ion-item>  
        </ion-list>
        <a [href]="bec.url">URL</a>
      </ion-card-content>
    </ion-card>
   </ion-list>
</ion-content>
